/*.pillSize {
    width: 100%;
    max-width: 100%;
}

lightning-radio-group .slds-radio_faux {
    margin-right: 10px;
}

.slds-modal__content{
    overflow: initial;
}
.lookup-container {
    width: 100%;
    display: block;
}
*/

.pillSize {
    width: 100%;
    max-width: 100%;
}

.lookup-input {
    width: 100%;
}

.slds-combobox__form-element {
    width: 100%;
}

.slds-pill-container {
    width: 100%;
    max-width: 100%;
}