:host .modal-container {
    width: 80vw; /* Custom width */
    height: 80vh; /* Custom height */
    max-width: 1200px !important; /* Maximum width */
    max-height: 800px; /* Maximum height */
    overflow: auto; /* Enable scrolling if content overflows */
}