/* .placeholder {
    --lwc-colorTextPlaceholder:rgb(208, 205, 205);
    --slds-c-input-color-border:black;
    --slds-c-input-radius-border: 10px;
    --slds-c-input-text-color: black;   
    --sds-c-input-color-background:white;
} */
 .body {
            font-family: 'SuisseIntl-Bold', sans-serif;
            /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 800"><rect fill="%236B7280" width="1200" height="800"/><rect fill="%234B5563" x="0" y="0" width="1200" height="400"/><rect fill="%23374151" x="200" y="200" width="800" height="200"/></svg>') center/cover; */
            min-height: 86vh;
            display: flex;
            flex-direction: column;
            /* background: url('../img/bg-theme-pic.png'); */
            background-size: cover;
            position: relative;
            top: 18px;
            overflow-y: hidden;
            font-size: 0.85rem!important;
        }
.placeholder {
    --lwc-colorTextPlaceholder:rgb(208, 205, 205);
    --slds-c-input-color-border: #DEE2E6!important;
    --slds-c-input-radius-border: 3px;
    --slds-c-input-padding: 25px;
    --slds-c-input-text-color: black;   
    --sds-c-input-color-background:white;
}
.slds-form-element__label {
    display:flex !important;
    font-size: 0.85rem!important;
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure spinner is on top */
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.customSelect {
  width: 270px!important;
  height: 70px!important;
  font-size: 0.85!important;
}

.slds-content-align_center {
    margin: auto 85px!important;
    text-align: left!important;
}
.slds-botton-top-40{
    margin-top:32px;
}
.lwc-icon-small {
    background-color: #000000!important;
    color:white!important;
}

:host lightning-spinner {
    --sds-c-spinner-color-foreground: #1b5299 !important; /* Apply color with high specificity */
    --sds-c-spinner-size: 48px !important; /* Adjust size */
}
@media only screen and (max-width: 768px) {
.customSelect {
    width:100%!important;
    height:70px;
}
.slds-content-align_center {
    margin: 0 !important;
    text-align: left !important;
}
.slds-p-around--small, .slds-p-around_small {
    padding: 0.5rem 0rem !important;
}
}