.lineHeight{
    line-height: 20px;
}

.table-scroll {
    max-height: 220px;
    overflow-y: auto;
    overflow-x: auto; /* for horizontal scroll on small screens */
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
    .table-scroll {
        overflow-x: auto;
    }
    table {
        min-width: 600px; /* allow horizontal scroll instead of squishing */
    }
}