:host {
  display: block;
}
.slds-dropdown {
  max-width: 100%;
}

.picklist-dropdown {
  /* position: fixed;   
  z-index: 10010;    
  left: 0;           
  top: 0;            
  width: auto;       
  max-width: none; */
  margin-top: 35px;
}


@media screen and (max-width: 600px) {
    .picklist-dropdown {
      margin-top: 43px;
    }
}