.dynamic-filter-box {
    max-width: 100%;
    width: auto;
    min-width: 300px; /* Ensures it doesn't get too small */
    margin: auto; /* Centers it */
}

@media (max-width: 768px) {
    .dynamic-filter-box {
        width: 90%;
    }
}
.no-wrap {
    flex-wrap: nowrap;
}
.rest-button
{
    text-align: center;
    margin-top: 2rem;
}