.slds-button-dark {
	background-color: #000000 !important;
	color: #ffffff !important;
	display: inline-flex;
	border-radius: 0.4rem;
	margin-top: 25px;
}

a.panelbox {
	background-color: #fafafa;
	padding: 10px 10px !important;
	border: 1px solid #DEE2E6;
	margin-bottom: 5px !important;
	max-width: 100%;
	margin-right: 15px !important;
	margin-left: 0px !important;
}

.panel {
	background-color: #fafafa;
	padding: 10px !important;
	border: 1px solid #DEE2E6;
	margin-bottom: 10px !important;
	max-width: 100%;
}

.placeholder {
	--lwc-colorTextPlaceholder: rgb(208, 205, 205);
	--slds-c-input-color-border: #DEE2E6 !important;
	--slds-c-input-radius-border: 3px;
	--slds-c-input-padding: 25px;
	--slds-c-input-text-color: black;
	--sds-c-input-color-background: white;
}

.slds-button.slds-button_icon {
	color: #ffffff !important;
}

.mr-2 {
	margin-right: 15px;
}

.ml-2 {
	margin-left: 15px;
}

.mt-4 {
	margin-top: 40px;
}

.properties-container {
	margin: 40px;
}

.button-right-wrap {
	float: right;
}

/* Bootstrap Styles */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-md-1 {
	-ms-flex: 0 0 10% !important;
	flex: 0 0 10% !important;
	max-width: 10% !important;
}

.col-md-3 {
	-ms-flex: 0 0 20% !important;
	flex: 0 0 20% !important;
	max-width: 20% !important;
}

.col-md-4 {
	-ms-flex: 0 0 25% !important;
	flex: 0 0 25% !important;
	max-width: 25% !important;
}

.col-md-5 {
	-ms-flex: 0 0 38% !important;
	flex: 0 0 38% !important;
	max-width: 38% !important;
}

.col-md-6 {
	-ms-flex: 0 0 50% !important;
	flex: 0 0 50% !important;
	max-width: 50% !important;
}

.col-md-9 {
	-ms-flex: 0 0 80% !important;
	flex: 0 0 80% !important;
	max-width: 80% !important;
}

.col-md-10 {
	-ms-flex: 0 0 90% !important;
	flex: 0 0 90% !important;
	max-width: 90% !important;
}

.col-md-12 {
	-ms-flex: 0 0 100% !important;
	flex: 0 0 100% !important;
	max-width: 100% !important;
}

.custom-tab-buttons {
	display: flex;
	gap: 1rem;
	border-bottom: 1px solid #ccc;
	margin-top: 40px;
	margin-bottom: 1rem;
}

.custom-tab-buttons button,
.tab-button .active {
	font-weight: bold;
	color: black;
	padding: 0.5rem 0.5rem;
	cursor: pointer;
	border-bottom: 3px solid #000000;
	background-color: transparent;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.custom-tab-buttons .active-tab {
	border-bottom: 3px solid black;
}


@media only screen and (max-width: 768px) {
	.panel {
		background-color: #fafafa;
		padding: 10px !important;
		border: 1px solid #DEE2E6;
		margin-bottom: 10px !important;
		max-width: 100%;
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

	.properties-container {
		margin: 5px !important;
	}

	.custom-tab-buttons {
    display: none !important;
   /* gap: 1rem;
    margin-top: 40px;
    margin-bottom: 1rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 6px;*/
}
 
/* LEFT button – curve only on left side */
.custom-tab-buttons button:first-child {
    border-radius: 6px 0 0 6px;
}
 
/* RIGHT button – curve only on right side */
.custom-tab-buttons button:last-child {
    border-radius: 0 6px 6px 0;
}
 
/* If there are only 2 buttons inside, they get auto curved */
.custom-tab-buttons button {
    padding: 8px 16px;
    border: none;
    background: #f4f4f4;
    cursor: pointer;
}

	.custom-tab-buttons button,
	.tab-button .active {
		font-weight: bold;
		background: #000000;
        color:#ffffff;
		padding: 0.5rem 0.5rem;
		cursor: pointer;
		border-bottom: 0px solid #000000!important;
		background-color: transparent;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
	}

	.custom-tab-buttons .active-tab {
		border-bottom: 0px solid black;
	}
    .custom-tab-buttons button {
        background: none;
        border: none;
        padding: 10px 0!important;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.2s ease;
        width: 50%;
    }
    .custom-tab-buttons {
        display: flex;
        border-bottom: 0px solid #aaa;
        margin-top: 50px;
    }
    .custom-tab-buttons .active {
       /* border-bottom: 3px solid #000;*/
        background: #000;
        color: #fff;
        border-radius: 6px 0 0 6px;
    }

}


.custom-tab-buttons {
	display: flex;
	border-bottom: 1px solid #aaa;
}

.custom-tab-buttons button {
	background: none;
	border: none;
	padding: 10px 16px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.2s ease;
}

.custom-tab-buttons button:hover {
	border-bottom: 3px solid #999;
}

.custom-tab-buttons .active {
	border-bottom: 3px solid #000;
}

@media only screen and (max-width: 768px) {
    .mobile-units-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 54px !important;
    }
}