.slds-backdrop {
    background: rgba(255, 0, 0, 0) !important;  
}

.slds-fade-in-open {
display:none !important;
}

lightning-spinner {
background-color: transparent;
}

.closeIcon{
display: none;
}

div{
    display: none;
}

button {
    display: none;
}

.slds-modal{
    display: none;
}

.slds-button__icon {
    display: none;
}
.slds-button__icon_large{
    display: none;
}

.slds-button_icon-inverse{
    display: none;
}

.modal-container{
    display: none;
}