.slds-modal__container.pi-modal-scope {
    width: 80vw !important;
    max-width: 80vw !important;
}

.slds-modal__container.pi-modal-scope .slds-modal__content {
    height: 70vh !important;
    max-height: 70vh !important;
}

.slds-modal__container.pi-modal-scope.pi-fullscreen-modal {
    width: 97vw !important;
    max-width: 97vw !important;
    height: 94vh !important;
}

.slds-modal__container.pi-modal-scope.pi-fullscreen-modal .slds-modal__content {
    height: calc(94vh - 3rem) !important;
    max-height: calc(94vh - 3rem) !important;
}
