.uiModal--medium .modal-container  {
	width: 1200px !important; /* Adjust as needed */
	max-width: 1200px !important; /* Adjust as needed */
	height: 600px !important;
	max-height: 600px% !important;
}





