select{
    background: url(https://image.explore.trexglamping.com/lib/fe2e117373640474741677/m/1/c632d2cb-8d16-40af-8784-6ede59037def.png);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 4%;
    cursor: pointer;
    direction:rtl;
}
input#country-code {
    background: url(https://image.explore.trexglamping.com/lib/fe2e117373640474741677/m/1/c632d2cb-8d16-40af-8784-6ede59037def.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 4%;
    cursor: pointer;
    padding: 6px 6px 6px 30px;
}
 .bdate input {
     background-image: url(https://image.explore.trexglamping.com/lib/fe2e117373640474741677/m/1/e75a5dc9-d876-4eb0-a3d0-48b94c8da7d9.png);
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     background-size: 20px;
     background-repeat: no-repeat;
     background-position: 10px center;
     padding-left: 40px;
     text-align: right;

}
 .bdate input::-webkit-calendar-picker-indicator {
     position: absolute;
     left: 10px;
     opacity: 0;
     cursor: pointer;
}
 .bdate input::-webkit-datetime-edit {
     text-align: right;

}
 .bdate input::-webkit-datetime-edit-fields-wrapper {
     text-align: right;
  
}
 .kbdate input{
     display: flex;
     flex-direction: row-reverse;
     column-gap: calc(100% - 85px);
}
 .kbdate::after {
     content: "";
     width: 20px;
     height: 20px;
     background-image: url(http://image.explore.globalvillage.ae/lib/fe2d11737364047c701278/m/1/b8aa7e7e-f09d-4609-a4cf-0a7004ce886b.jpg);
     position: absolute;
     left: 28px;
     top: 0px;
     bottom: 0;
     margin: auto;
     z-index: -1;
     background-size: 19px;
     background-repeat: no-repeat;
     cursor:pointer;
}
 .form-group{
     position: relative;
     margin-bottom : 1rem ;
}
 .preferences-form .form-check{
     padding-left: 0 !important;
     padding-right: 1.5em !important;
}
 .preferences-form .form-check .form-check-input{
     float: right !important;
     margin-right: -2em !important;
}
 .channel-preferences-form .form-check{
     padding-left: 0 !important;
     padding-right: 1.5em !important;
}
 .channel-preferences-form .form-check .form-check-input{
     float: right !important;
     margin-right: -2em !important;
}
 .comment-form .form-check{
     padding-left: 0 !important;
     padding-right: 1.5em !important;
}
 .comment-form .form-check .form-check-input{
     float: right !important;
     margin-right: -2em !important;
}
 @media (max-width: 767px) {
     .interest-form .form-check{
         display: flex;
         align-items: center;
         justify-content: space-between;
    }
}
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
     header img {
         width: 50%;
    }
}
.form-check-input:focus {
border-color: #567F2E;
}
 


.lang-switcher-text{
    text-align: left;
    padding-left: 40px;
    margin-top: -10px;
}

.language-toggle-link{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}
a:hover{
 color: #fff;
}

a#langSwitcher {
    text-decoration: underline;
}

@media (max-width: 768px){
.lang-switcher-text{
   padding-left: 15px;
   margin-top: -14px;
}
.language-toggle-link{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 9px !important;
    bottom: -2px;
}
}

@media (min-width: 768px) and (max-width: 1400px){
.lang-switcher-text{
   padding-left: 20px;
   padding-top: 15px;
   margin-bottom:-8px;
}
.language-toggle-link{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px !important;
    position: static;
}
}