.container {
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    background-color:  #f0f4f8;
    min-height: 100vh;
}

.section-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000;
}
.file-link {
    color: #1a73e8;
    text-decoration: underline;
    font-weight: 500;
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
}
.otp-modal .modal-content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0rem;
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); */
    width: 280px;
    max-width: 100%;
    text-align: left;
}

.otp-modal h2 {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 1rem;
    font-weight: bold;
}

.otp-modal p {
    font-size: 1rem;
    color: #5f6368;
    margin-bottom: 1.5rem;
}

.otp-modal lightning-input {
    margin-bottom: 1.5rem;
}

.modal-footer button {
    margin: 0 0.2rem;
    width: 145px;
}

.file-missing {
    color: #888888;
    font-style: italic;
    display: inline-block;
    margin-top: 4px;
}
.section-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem!important;
    margin-top:1rem !important;
    color: #000000;
    max-width: 100%;
}

.info-card {
    background: #fafafa !important;
    padding: 1rem 1rem;
    /* margin-bottom: 2rem; */
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    border: 1px solid #DEE2E6 !important;
}

.field-row {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.field-block {
    flex: 1;
}

img {
    max-width: 100%;
    height: 20px!important;
    border-radius: 20px;
}

.label {
    display: block;
    font-weight: 400;
    color: #555;
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
}

.value {
    font-weight: bold;
    color: #000;
    font-size: 0.85rem;
}

.btn-footer {
    margin-top: 1rem;
    text-align: right;
}

.custom-btn {
    background-color: black;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.custom-btn.cancel {
    background-color: #ccc;
    color: black;
    margin-right: 1rem;
}

.file-input {
    width: 240px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 0.95rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;
}

.file-input:hover,
.file-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15);
    background-color: #fff;
    outline: none;
}

.align-file-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
}

.file-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.approval-msg {
    font-style: italic;
    color: #146cda;
    font-weight: bold;
    margin-top: 10px;
}
.placeholder {
    --lwc-colorTextPlaceholder:rgb(208, 205, 205);
    --slds-c-input-color-border:#cccccc;
    --slds-c-input-radius-border: 0.3rem!important;
    --slds-c-input-padding: 25px;
    --slds-c-input-text-color: black;   
    --sds-c-input-color-background:white;
}
.customSelect {
  width: 100%!important;
  height: 70px!important;
  font-size: 0.85rem!important;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 0;
    right: 0!important;
    width: auto;
    /* transform: translate(-50%, -50%); */
    background: white;
    padding: 1rem;
    border-radius: 0px;
    z-index: 99999999;
    height: 100vh;
    /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2); */
}
.modal-title {
    font-size: 1.2rem;
    font-weight: bold;
    color:#000;
    margin-bottom: 15px!important;
}

.modal-footer {
    /* text-align: right;
    margin-top: 2rem; */
    text-align: right;
    margin-top: 2rem;
    position: absolute;
    right: 25px;
    bottom: 22px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 7000;
}
.help-icon {
    position: relative;
    display: inline-block;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
}

.help-icon .tooltip {
    visibility: hidden;
    opacity: 0;
    width: 320px;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);
    position: absolute;
    z-index: 10;
    top: 24px;
    left: 0;
    font-size: 0.9rem;
    transition: opacity 0.3s ease-in-out;
}

.help-icon:hover .tooltip,
.help-icon:focus .tooltip {
    visibility: visible;
    opacity: 1;
}
.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
   
    z-index: 9000;

}

.error-msg {
    color: red;
    font-weight: bold;
    font-style: normal;
}
.custom-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11000;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.custom-toast-content {
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    background-color: gray;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    animation: fadeInOut 3s ease-in-out;
    text-align: center;
}

.custom-toast-content.success {
    background-color: #28a745;
}

.custom-toast-content.error {
    background-color: #dc3545;
}

.custom-toast-content.info {
    background-color: #007bff;
}
.rejection-comment {
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: #ffe5e5;
    border-left: 4px solid #e60000;
    border-radius: 0.25rem;
}

.rejection-text {
    color: #e60000;
    font-weight: bold;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: scale(0.9); }
    10% { opacity: 1; transform: scale(1); }
    90% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.9); }
}

.delete-icon {
  cursor: pointer;
  vertical-align: middle;
}

.download-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px dashed #0070d2;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f4f6f9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.download-box:hover {
    background-color: #e5f0fb;
    border-color: #005fb2;
}

.download-icon {
    font-size: 2rem;
    color: #0070d2;
}

.download-content {
    display: flex;
    flex-direction: column;
    color: #1b1b1b;
}

.download-content strong {
    font-size: 1rem;
    margin-bottom: 4px;
}

.download-content p {
    font-size: 0.85rem;
    color: #555;
    margin: 0;
}

.mobile-modal-close {
    display: none; /* default hidden (desktop) */
}

@media (max-width: 768px) { 
.modal {
    position: fixed;

    top: 10%;
    /*bottom: 5%;*/

    /* OUTSIDE SPACE */
  /*  right: 5%;*/
    left: auto;

    background: white;
    border-radius: 20px;

    width: 400px;
    max-width: calc(100% - 10%); /* ensures space on both sides */

    overflow-y: auto;   /* scroll inside card */

    z-index: 99999999;
    margin-right: 20px;
            max-height: 700px;
}
.field-row {
    display: inline-grid!important;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.help-icon .tooltip{
    visibility: hidden;
    opacity: 0;
    width: 320px;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 10;
    top: 24px;
    left: -118px!important;
    font-size: 0.9rem;
    transition: opacity 0.3s ease-in-out;
}
.modal-footer {
    /* text-align: right;
    margin-top: 2rem; */
    text-align: right;
    margin-top: 2rem;
    position: absolute;
    right: 34px;
    bottom: 22px;
}


    .mobile-modal-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 12px;
        background: transparent;
        border: none;
        font-size: 22px;
        font-weight: 600;
        line-height: 1;
        cursor: pointer;
        color: #000;
        z-index: 1001;
        padding: 4px;
    }

    .mobile-modal-close:active {
        opacity: 0.6;
    }
}