.table-scroll {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Make buttons stack on mobile */
@media only screen and (max-width: 768px) {
    .mobile-full {
        width: 100%;
        margin-left: 0 !important;
    }

    .slds-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .slds-table th,
    .slds-table td {
        min-width: 120px;
        /* prevent squishing too much */
    }
}

.display-end {
    display: flex;
    align-items: end;
}

.removed-user {
    background-color: #e27c10;
}

.removed-value:hover {
    background-color: #e27c10;
}