:host {
    display: block;
    margin: 0;
    width: 100%;
}

/* Custom container for consistent size */
.custom-container {
    max-width: 600px; 
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left; /* Keep the content aligned to the left */
    margin-left: 0; /* Remove auto centering */
    margin-right: 0; /* Remove auto centering */
}

/* Text wrapping for long values */
a {
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

/* Titles */
.slds-text-title_bold {
    font-size: 0.9rem; /* Smaller title font size */
    font-weight: bold;
    margin-bottom: 0.2rem;
}

/* Adjustments for small screens */
@media screen and (max-width: 768px) {
    .custom-container {
        max-width: 100%; /* Full width for smaller screens */
        padding: 0.5rem;
        text-align: left; /* Ensure content is left-aligned */
        margin-left: 0; /* Remove centering */
        margin-right: 0; /* Remove centering */
    }

    .slds-grid p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        word-wrap: break-word;
        overflow-wrap: anywhere;
        margin: 0;
        text-align: left; /* Ensure the text stays left-aligned */
    }
}
.slds-grid.slds-gutters {
    margin-bottom: 1rem; /* Optional: Add bottom margin between rows */
}