.login-container {
    height: 83vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.login-box {
    display: flex;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 800px; /* wider to accommodate 2 sides */
    max-width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Allow wrap on small screen */
    justify-content: center;
}

.info-card, .login-card {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-card {
    align-items: flex-start;
    text-align: left;
}

.info-card .logo img {
    width: 40px;
}

.info-card h2 {
    font-size: 1rem;
    margin: 0;
}

.info-card .description {
    margin-top: 1rem;
    color: #777;
    font-size: 0.95rem;
}

.login-card {
    background: white;
}

.options {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.options a {
    text-decoration: none;
    color: #0070d2;
    font-weight: 500;
}

.button-container {
    width: 100%;
}

.full-width-button {
    width: 100%;
}

.slds-button {
    width: 100% !important;
}

.error {
    text-align: center;
    color: hsl(0, 85%, 39%);
    font-size: smaller;
    margin-top: 1rem;
}
.logo-container {
    width: 40%; /* Adjust size as needed */
    margin-bottom: 1.5rem;
  }
  .signup {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .signup a {
    font-weight: bold;
    color: #0070d2;
    text-decoration: none;
  }
  .signBtn {
    color: #005fb2;
    font-weight: bold;
  }
/* --- Responsiveness --- */
@media screen and (max-width: 768px) {
    .info-card, .login-card {
        width: 100%;
        padding: 1rem;
    }

    .login-box {
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        text-align: center;
        align-items: center;
    }
   
}

@font-face {
    font-family: 'MyFont';
    src: url({$Resource.companyFonts}/SuisseIntl-Black.otf) format('opentype'),
         url({$Resource.companyFonts}/SuisseIntl-Bold.otf) format('opentype'),
         url({$Resource.companyFonts}/SuisseIntl-Book.otf) format('opentype'),
         url({$Resource.companyFonts}/SuisseIntl-SemiBold.otf) format('opentype'),
         url({$Resource.companyFonts}/SuisseIntl-Regular.otf) format('opentype'),
         url({$Resource.companyFonts}/SuisseIntl-Light.ttf) format('truetype'),
         url({$Resource.companyFonts}/SuisseIntl-Ultralight.ttf) format('truetype');;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyFont', sans-serif;
}
.company-font-text {
    font-family: 'MyFont', sans-serif !important;
}
.header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px; /* Increased padding for bigger header */
    width: 100%;
    position: fixed; /* Stick to top */
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    height: 10%;
}
 
.footer {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    margin: 0 auto;
    height: 14%;
}
@media only screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 15px;
    }
    }