/* HEADER */
 .header {
    background: black;
    color: white;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    width: 100%;
    margin: 0 auto 15px auto;;
  
 }
 
 .header-right {
     display: flex;
     align-items: center;
     gap: 15px;
 }
 
 .nav-links {
     display: flex;
     gap: 20px;
     color: aliceblue;
     font-size: 16px;
 }
 
 .icons {
     display: flex;
     gap: 15px;
     padding-left: 80px;
 }
 
 /* HERO SECTION */
 .hero-content {
     text-align: left;
     color: white;
 }
 
 .hero-text {
     text-align: center;
     margin-top: 20px;
 }
 .hero-content h1 {
     font-size: 16px;
 }