.checklist-wrapper {
    padding: 1rem;
    background-color: #f8f9f9;
}

.checklist-header {
    margin-bottom: 1rem;
    font-weight: bold;
}

.large-combobox lightning-combobox {
    width: 100%;
}

.checklist-section {
    border-left: 5px solid #28a745; /* Green border for section separation */
    background-color: #f4fef4;
    border-radius: 8px;
}