/* Wrapper class for the entire data table */
.table-container {
    max-height: 65vh;
    overflow-y: auto;
    /* Add some bottom padding so the last row's combobox has space to pop up if needed */
    padding-bottom: 2rem; 
}

/* Margin to separate the table from the title */
.slds-table {
    margin-top: 10px;
}
/* Ensure cell contents are vertically aligned */
.slds-table th, .slds-table td {
    vertical-align: middle;
}

.slds-table thead th {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff; /* Opaque white to prevent inputs from bleeding through */
    opacity: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}


.changed-field {
    --slds-c-input-color-background: #fbf7e6;
    --sds-c-input-color-background: #fbf7e6;
    --slds-c-textarea-color-background: #fbf7e6;
    --slds-c-combobox-color-background: #fbf7e6;
    --sds-c-combobox-color-background: #fbf7e6;
}