.scrollable-table {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #d8dde6;
}

.top-right { 
    position: absolute; 
    top: 0; /* Aligns to the top */ 
    right: 0; /* Aligns to the right */ 
    padding: 10px; /* Optional: for spacing */ 
    background-color: #f8f8f8; /* Optional: background color */ 
}