.timer-green {
    font-size: 1.5rem;
    color: green;
    font-weight: bold;
}

.timer-red {
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}

.timer-container {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 5px;
}

.timer-text {
    color: #ff0000;
}