.comClass{
    font-size: 17;
}

:host {
    --slds-c-textarea-sizing-min-height: 250px !important;
}

:host {
    --sds-c-textarea-sizing-min-height: 250px;
 }

 :host .custom-textarea {
    height: 250px !important;
}

:host lightning-textarea {
    --slds-c-textarea-sizing-min-height: 250px;
    min-height: var(--slds-c-textarea-sizing-min-height);
}

.slds-modal__content{
    width: 250px !important;
    height: 250px;
}

:host lightning-textarea {
    height: 250px !important;
}

.slds-textarea{
    height: 250px !important;
    min-height: 250px !important;
}

textarea{
    height: 250px !important;
}

lightning-textarea{
    height: 250px !important; 
}