.soa-container {
    max-width: 1200px;
    margin: auto;
}
canvas {
    display: block;
    margin: 0 auto;
}
.center-header thead th {
    text-align: center;
    font-weight: 400;
    border-radius: 1px;
}
.slds-truncate {
    font-weight: 300;
   
}
/* HEADER */
.header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px; /* Increased padding for bigger header */
    width: 100%;
    position: fixed; /* Stick to top */
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
}
 
.footer {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left:0;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
}
.slds-grid--align-center, .slds-grid_align-center {
    
    justify-content: right !important;
}

@media (max-width: 48em) {
    .slds-max-medium-table--stacked-horizontal tr, .slds-max-medium-table_stacked-horizontal tr {
        
        font-weight: 400;
    }
}

/* Dark header for datatable */
.center-header .slds-table thead th {
    background-color: #000000;
    color: white;
    font-weight: 400;
    text-align: center;
}

/* Align column content center */
.center-header .slds-table td {
    text-align: center;
    font-weight: 400;
}

/* Reduce width for short columns */
.narrow-col {
    width: 60px;
    max-width: 80px;
    text-align: center;
}
@media only screen and (max-width: 1024px) {
.footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 15px;
}
}
.center-header .slds-table thead th {
    background-color: #000;
    color: white;
    text-align: center;
}
.center-header .slds-table td {
    text-align: right;
}