.custom-container{
	color : black;
}
.table-container {
  overflow-x: auto;
  width: 100%;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #fafaf9;
    border-radius: 0.25rem;
}

:host {
    --slds-c-textarea-required-color: var(--slds-g-color-error-base-40, #ea001e);
    --slds-c-textarea-required-color-background: transparent;
}

.slds-form-element__label {
    display: flex !important;
    align-items: center !important;
}

.slds-required {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    margin-left: 0.125rem !important;
}