.section-title {
    color:  darkgreen;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px 0;
}
.field-label {
    font-weight: bold;
    color: darkblue;
}
.field-value {
    
    color: #333;
}
.slds-card__body {
    width: 100%;
}
.outstandingCls{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    color: white;
    background-color: #e41515;
    font-weight: bold;
    font-size: 15px;
}
.card-footer {
    position: sticky;
    bottom: 0;
    background: #f3f6f9;
    padding: 0.75rem;
    border-top: 1px solid #d8dde6;
    text-align: right;
}
:host {
    --modal-container-width: 1200px;
}

/* Vertically and horizontally center modal */
:host ::deep(.slds-modal) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 2;
    width: 100%;
    height: 100%;
    z-index: 10000; /* Make sure it's above backdrop */
}

/* Center container */
:host ::deep(.slds-modal__container) {
    margin: 0 auto;
    max-width: 90%;
    width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: white;
}

.custom-container {
    width: 1300px;
    max-width: 1300px;
    min-width: 1300px;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.table-scroll {
    max-height: 300px; /* Adjust vertical scroll size */
    overflow-y: auto;
    overflow-x: auto; 
}

/* Make table header sticky */
.table-scroll thead th {
    position: sticky;
    top: 0; 
    background: #f3f3f3; 
    z-index: 2; 
    font-weight: bold;
}

.payment-table {
    table-layout: fixed;
    width: 100%;
}
.payment-table th{
white-space: normal; 
word-break: break-word; 
}

.payment-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.payment-table th:nth-child(1),
.payment-table td:nth-child(1) {
    width: 12%;
}

.payment-table th:nth-child(2),
.payment-table td:nth-child(2) {
    width: 10%;
}

.payment-table th:nth-child(3),
.payment-table td:nth-child(3) {
    width: 15%;
}

.payment-table th:nth-child(4),
.payment-table td:nth-child(4) {
    width: 10%;
}

.payment-table th:nth-child(5),
.payment-table td:nth-child(5) {
    width: 10%;
}

.payment-table th:nth-child(6),
.payment-table td:nth-child(6) {
    width: 11%;
}

.payment-table th:nth-child(7),
.payment-table td:nth-child(7) {
    width: 12%;
}

.payment-table th:nth-child(8),
.payment-table td:nth-child(8) {
    width: 12%;
}

.payment-table th:nth-child(9),
.payment-table td:nth-child(9) {
    width: 8%;
}