.carddetails {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.table-header {
    background-color: #e0e0e0; /* Grey background */
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.custom-table {
    border: 1px solid #8a8585; /* Grey border */
    border-radius: 2px; /* Rounded corners */
    /*padding: 10px;*/
    background-color: #f9f9f9; /* Light background */
}
.centered-table lightning-datatable {
    text-align: center;
}
.slds-modal__header {
    width: 150%;
    margin-left: -25%;
}
.slds-modal__content {
    width: 150%;
    margin-left: -25%;
}
.slds-modal__footer {
    width: 150%;
    margin-left: -25%;
}