.banner {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: var(--lwc-colorBackgroundHighlight,rgb(250, 255, 189));
  border: 1px solid var(--lwc-colorBorder,rgb(221, 219, 218));
  
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}