*{
    box-sizing: border-box;
  }
  html{
    scroll-padding-top: 200px;
    }
  body{
    background-color: #fff!important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    direction: rtl;
  }
  h4 {
    font-size: 30px;
    font-weight: 700;
    color: #ffd400
  }
 .disclaimer{
    display: none;
  }
  .del{
    background-color: #ffd400;
    position: relative;
top:27%;
border:0;
  }
 .del:hover{   
  background-color: #ffd400;
  }
  /* form .form-control {
    background-color: transparent;
    padding: 12px 20px;
    border-color: #ddd;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #444444;
  } */
  .form-group {
      text-align: right;
    }
  .col-12{
    min-height: 85px;
  }

input[type="radio"]:invalid {
    box-shadow: none; /* Reset any box-shadow */
    outline: none; /* Remove outline */
    /* You may need additional styling here to ensure the appearance is consistent */
}

  /* Header */
  header{
    background-color: #FFD400;
    padding: 15px 0;
    position: sticky;
      top: 0;
      z-index: 9999;
      width: 100%;
  }
  header img{
    width: 25%;
   
  }

select.form-control {
    padding: .375rem .75rem .375rem 2rem !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
input.form-control {
    padding: .375rem 0.8rem .375rem .5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
input.form-control.phone-inteltel {
    direction: rtl;
}

  select{
      background: url("https://image.explore.legoland.ae/lib/fe30117373640479741375/m/1/8600b81e-b04c-4a19-80f1-0ea6de5fda66.png");
      appearance:none;
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 12px;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 20px!important;
    padding-right: 8px!important;
  }
  .select2-dropdown * {
      direction: rtl;
  }
  .select2-dropdown .select2-search__field {
    padding-right: 12px!important;
  }
  .select2-dropdown .select2-results__option{
    padding-right: 10px!important;
  }
  #profile-submit, #interest-submit, #communications-submitbtn, #communications-submitbtn1{
    background-color: #ffd400;
    border-color: #ffd400;
    padding: 12px 60px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
  }

.channelPreference-btn{
    background-color: #ffd400;
    border-color: #ffd400;
    padding: 12px 75px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
  }

  .unsubscribe-btn{
    background-color: #ffd400;
    border-color: #ffd400;
    padding: 12px 35px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
  }
  .unsubscribe-all-btn{
    background-color: #ffd400;
    border-color: #ffd400;
    padding: 12px 20px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
  }
  #communications-submit{
    background-color: #ffd400;
    border-color: #ffd400;
    padding: 12px 75px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
  }
  .submit-button{
    text-align: right;
  }

.channelPreference-btn:hover{
    color: #fff;
  }

  .unsubscribe-btn:hover{
    color: #fff;
  }
  .submitBtn1{
    /* text-align: right; */
    background-color: #ffd400;
    border-color: #ffd400;
    padding: 12px 60px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
  }
  .orange-notice {
    background-color: #ffd400;
    color: white;
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 30px;
  }
  #area1{
    display: none;
  }
 input#country-code::-webkit-calendar-picker-indicator {
  display:none !important;
}
 input#country-code::-webkit-calendar-picker-indicator,
 input#country-code::-webkit-list-button {
    opacity: 0 !important
}
  /* checks color */
  /* .interest-form .form-check-input:checked{
    background-color: #f1ad2a;
    border-color: #f1ad2a;
  } */
  input[type=radio]{
    appearance: none;
  }
  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -1px;
    right: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ffd400;
  }
  
  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #ffd400;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ffd400;
  }
  input[type='checkbox']:checked {
    background-color: #ffd400;
  }
  input[type='checkbox']:checked:after {
    content: '\2713';
    color:white;
  }
  .form-check-input:focus{
    box-shadow: none;
  }
  input[type='checkbox']{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 15px !important;
    height: 15px !important;
    appearance:none;
    border-radius:10%;
    border: 1px solid #ffd400;
    box-shadow: none;
    font-size: .7em;
    margin-top: 0.2rem!important;
  }
.primary-reason input[type='checkbox']{
    display:unset !important;
  }
.often-visit input[type='checkbox']{
    display:unset !important;
  }
  .often-visit .form-check .form-check-input {
    margin-right: -1.2rem !important;
}
.like-most input[type='checkbox']{
   display:unset !important;
  }
  /* .interest-tab-content .form-check-input, .interest-tab-content .form-check-input:checked, .preferences-tab-content .form-check-input, .preferences-tab-content .form-check-input:checked {
    border-color: rgb(242, 111, 38);
  } */
  
   .phone_num .input-group-prepend {
      width: 130px;
  }
  #country-code::-webkit-calendar-picker-indicator {
    display:none !important;
  }
  
  /* dropdown icon style */
  .input-arrow-icon {
    position: absolute;
    width: 25px;
    color: #ffd400;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  .profilecountry .input-arrow-icon {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .phone-arrow-icon{
    position: absolute;
    font-size: 40px;
    color: #ffd400;
    right: 10px;
    top: 0%;
    cursor: pointer;
  }
  .daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: #ffd400!important;
  }
  
  input#country-code{
      background: url("https://image.explore.legoland.ae/lib/fe30117373640479741375/m/1/8600b81e-b04c-4a19-80f1-0ea6de5fda66.png");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 10%;
      padding: .375rem .75rem .375rem 2rem;
  }
  
  input#country-code::placeholder {
    opacity: .4;
  }
  /* ==========================================================================
     #Banner
     ========================================================================== */
  
  .responsive {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  #mob-img{
display:none;
}
  /* ==========================================================================
     #WRAPPER
     ========================================================================== */
     .wrapper {
      margin: 0 auto;
    }
    
    .wrapper--w960 {
      max-width: 960px;
    }
    
    .wrapper--w780 {
      max-width: 780px;
    }
    
    .wrapper--w680 {
      max-width: 680px;
    }
    .wrapper--w1200 {
      max-width: 900px;
    }
    .wrapper--w700 {
      max-width: 700px;
    }
    /* ==========================================================================
     #CARD
     ========================================================================== */
    .card-4{
      text-align: center;
    }
    /* ==========================================================================
     #Heading
     ========================================================================== */
     .main-heading{
      padding-bottom: 20px;
    }
    /* ==========================================================================
     Birthday calendar
     ========================================================================== */
     
  .input-group-icon {
      position: relative;
    }
    
    .input-icon {
      position: absolute;
      width: 20px;
      color: #ffd400;
      right: 18px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
    }
    .input-arrow-icon1 {
      position: absolute;
      font-size: 40px;
      color: #ffd400;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
  }
    .input-arrow-iconss{
      position: absolute;
      font-size: 40px;
      color: #ffd400;
      right: 25px;
      top: 50%;
      -webkit-transform: translateY(-20%);
      -moz-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
      -o-transform: translateY(-20%);
      transform: translateY(-20%);
      cursor: pointer;
    }
    .select-wrapper {
    position: relative;
  }
    .select2-container{
      width: 100%!important;
    }
  .fa-chevron-left:before{
  display: none;
  }
  .fa-chevron-right:before{
  display: none;
  }
  
  .select2-container--default .select2-selection--single{
      background-color: transparent!important;
      padding: 5px;
      border-color: #fff!important;
      border-radius: 5px!important;
      font-size: 1rem;
      font-weight: 400;
      color: #444444;
      height: auto!important;
      min-height: 20px;
      border: 1px solid #ced4da!important;
      background: url("https://image.explore.legoland.ae/lib/fe30117373640479741375/m/1/8600b81e-b04c-4a19-80f1-0ea6de5fda66.png");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 5%;
   }
   .select2-container--default .select2-selection--single .select2-selection__arrow{
  display: none;
  }
  #pills-profile .select2-container{
  width:100%!important;
  }
  
  .select2-container--default.select2-container--focus .select2-selection {
    outline: none;
    box-shadow: 0px 0px 2px 2px #86b7fe!important; /* Adjust the box-shadow values as needed */
  }
  
  /* card css */
  .content-wrapper{
    margin-top: -60px;
    background: transparent;
    border: none;
  }
  
  .box-form-wrapper {
    box-shadow: 3px 3px 14px 2px #ccc;
    border-radius: 10px;
    padding: 25px 30px;
    width: 100%;
    margin-bottom: 40px;
  }
  .radio-width label{
    width: 65%;
  }
  
  .radio-width .form-check{
    padding: 0;
  }
  li.nav-item {
    width: 20%;
    text-align: center;
  }
  /* styling for h1 username */
  .banner{
    position: relative;
    text-align: center;
  }
  .username{
position: absolute;
padding-bottom: 10px;
top: 50%;
left: 50%;
font-weight: bold;
color: #fff;
font-size: 70px;
transform: translate(-50%, -50%);
word-break: break-all;
background: rgba(0,0,0,0.5);

  }
  
  /* Styling for Unsubscribe box */
  
  #unsubscribe-reason {
    display: none;
    padding: 0 40px 40px 40px;
  }
  
  .com-btn{
    text-align: right;
  }
  .unsrb-btn{
    text-align: right;
  }
  

.pref-btn{
    text-align: right;
  }

  .box-form {
    margin-top: 50px;
    /* padding: 40px 40px; */
    box-shadow: 3px 5px 14px 7px rgb(204, 204, 204, 0.63);
    border-radius: 5px;
  }
  
  /* kids section css */
  #kidsTable td{
    width: 33%;
  }
  /*dhe logo css */
.dhe-logo{
    border-radius: 5px;
    width: 40%;
    float: right;
}
.unsrb-all-btn{
  text-align: right;
}

  

   /* Unsubscribe All section styling */
   #unsubscribe-all-reason {
    display: none;
    padding: 0 40px 40px 40px;
  }
  .unsubscribe-all-btn:hover{
    color: #fff;
  }

 /* channel preference section styling */
   #channel-preference {
    display: none;
    padding: 0 40px 40px 40px;
  }



/*Loader styling */

.loader1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(58, 59, 60, 0.5);
    z-index: 99999 !important;
    display: none;

}
.loaderimg1{
    background-image: url("https://image.explore.legoland.ae/lib/fe30117373640479741375/m/1/d4263ce3-8680-4f0a-a13b-535e453ef236.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
}

/* Birthday input bdate */
.bdate input {
    background-image: url("https://image.explore.legoland.ae/lib/fe30117373640479741375/m/1/51d7e4ad-eec2-4a2f-ac83-554955c4e4d0.png");
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-size: 20px; /* Size of the icon */
    background-repeat: no-repeat;
    background-position: 10px center; /* Icon on the left */
    padding-left: 40px; /* Padding to make room for the icon */
    text-align: right; /* Align text to the right */
}

.bdate input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 10px;
    opacity: 0;
    cursor: pointer;
}

.bdate input::-webkit-datetime-edit {
    text-align: right; /* Ensure the text remains aligned to the right */
}

.bdate input::-webkit-datetime-edit-fields-wrapper {
    text-align: right; /* Ensure the fields remain aligned to the right */
}
/* .bdate input {

  background-image: url("https://image.explore.legoland.ae/lib/fe30117373640479741375/m/1/51d7e4ad-eec2-4a2f-ac83-554955c4e4d0.png");
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 4%;

} */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity:0;
  cursor: pointer;
  font-size: 20px;
  color: red;
}

/* for showing disabled pointer */
#nationality:disabled{
  cursor: not-allowed;
}

#nationality{
  cursor: pointer;
}
 /* thank you page css */
.thanYou-img img{
  max-width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thanks-wrapper{
  margin: 50px 0 50px 0;
}
.thankYou-text h2, .thankYou-text p{
  text-align: center;
}
  

/* footer css */

.footer-logo{
    margin-right: 100px;
}
.logo-footer img{
  width: 100%;
  
}
/* footer new css */
footer{
  background: #000;
  background-size: 100% auto;
  padding: 70px 0 10px 0;
  background-position: bottom;
}
footer h4{
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}
footer p{
  margin-bottom: 0;
  color: #fff;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
footer p a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
footer p a:hover{
  color: #fff;
}
.footer-strip{
  background-color: #373f6d;
  padding: 20px 0;
}
.footer-strip span{
  color: #fff;
font-size:18px;
}
.proud-partners{
  display: flex;
  padding: 0;
  margin-top: .3rem!important;
}
.tripadvisor{
  display: flex;
  padding: 0;
  margin-top: .2rem !important;
  justify-content: center;
  margin-left: 20px;
}
.footer-row-2{
  margin-top: 3rem;
}
footer .pp{
  margin-right: 5px;
}
.footer-strip p{
  color: #FCB514;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.footer-strip img{
  display: inline-block;
  float: left;
  margin-right: 10px;
width: 30px;
}
.social-media-ul{
    justify-content: end;
    padding: 0;
    display: flex;
    margin-top: .2rem !important;
}
.social-media-ul li{
  margin-left: 20px;
}
.social-media-ul img{

}
.custom-height .col-12{
min-height: unset;
padding: 0;
}
.business-units img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row.business-units{
  align-items: center;
}
.tripadvisor li{
  margin-right: 3px;
}
#my-profile input[type='radio']:after{
  top: -1px;
}
/* footer css end */

/* responsive css*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .nav-link{
 font-size:14px!important;
}
.footer-logo{
    margin-right: 0px;
}
   }


  @media (max-width: 768px){
.social-media-ul img{
  width: 30px;
}
      .hidden{
      display:none;
      }
     .unsub-text-footer{
      font-size: 10px;
      width: 100%;
    }
    td.social-icons p{
      font-size: 11px;
    }
    td.social-icons img{
      width: 16px;
      height: 16px;
    }
    .build-memories{
        width: 200px!important;
        height: 15px!important;
    }
    
    .footer-logo{
        width: 80px !important;
        margin-right: 40px;
        height: 40px!important;
    }
    #desktop-img{
    display:none;
    }
    #mob-img{
    display:block;
    }

.dhe-logo{
width: 80%;
border-radius: 5px;;
}
header img {
    width: 50%;
}

.close-button-Pref{
left : 90%;
}

    .btn-success{
      float: none!important;
    }
    .com-btn {
      text-align: center;
  }
.unsrb-all-btn{
      text-align: center;
  }
  .unsrb-btn {
    text-align: center;
  }

.pref-btn {
    text-align: center;
  }

  #kidsTable td{
    width: 100%;
  }

    .radio-width label{
      width: 100%;
    }
    .wrapper--w1200 {
      padding: 0 20px;
  }
  .wrapper--w700 {
    padding: 0 20px;
  }
  form .text-end{
    text-align: center!important;
  }
  ul#pills-tab{
    position: sticky;
    top: 75px;
    z-index: 9999999999;
  }
  li.nav-item{
    width: auto;
  
  }
  .nav-pills .nav-link{
    font-size: 11px;
  }
  /* .content-wrapper{
    margin-top: -40px;
  } */
  .submit-button{
    text-align: center;
  }
  h4{
    font-size: 20px;
  }
  .username{
    font-size: 22px;
    top: 35%;
    max-height: 82px;
    overflow-y: hidden;
  }
  .back-to-profile{
    text-align: center!important;
  }
  .orange-notice{
    font-size: 18px;
  }
  
  label {
    display: inline-block;
    margin-bottom: .5rem;
    }
  .form-group{
      margin-bottom: 1rem;
  }  

   }




   @media only screen and (max-width: 600px){
/* New footer CSS */

.col-12{
  min-height: unset!important;
}

.footer-row-2{
  margin-top: 0;
}
.tripadvisor{
  justify-content: unset;
  margin-left: 0;
  margin-top: 20px!important;
}

.business-units img{
  width: 100px;
  padding: 10px;
}

.close-button-Pref{
left : 93%;
}

footer h4{
  margin-top: 20px;
}
.social-media-ul{
  margin-top: 20px!important;
  justify-content: unset;
}
footer{
  padding-top: 30px;
}
.social-media-ul li{
margin-left: 0;
margin-right:20px;
}
.logo-footer img{
width:60%;
}
.business-units img{
width: 80%;
}
/* end footer css */

   }