* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 200px;
}

body {
    background-color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
body,
html {
  direction: rtl;
}

h4 {
    font-size: 30px;
    font-weight: normal;
    color: #0C2070;
}

.disclaimer {
    display: none;
    padding-top: 20px;
}

.del {
    background-color: #0C2070;
    position: relative;
    top: 35%;
    border: 0;
}

.del:hover {
    background-color: #0C2070;
}

select.form-control {
    padding: .375rem .75rem .375rem 2rem !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* form .form-control {
    background-color: transparent;
    padding: 12px 20px;
    border-color: #ddd;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #444444;
  } */

.col-12 {
    min-height: 85px;
}

input[type="radio"]:invalid {
    box-shadow: none;
    /* Reset any box-shadow */
    outline: none;
    /* Remove outline */
    /* You may need additional styling here to ensure the appearance is consistent */
}

/* Header */
header {
    background-color: #000000;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
}

header img {
    width: 20.5%;

}



#profile-submit,
#interest-submit,
#communications-submitbtn,
#communications-submitbtn1 {
    background-color: #0C2070;
    border-color: #0C2070;
    padding: 12px 60px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}

.unsubscribe-btn {
    background-color: #0C2070;
    border-color: #0C2070;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}

.unsubscribe-all-btn {
    background-color: #0C2070;
    border-color: #0C2070;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}

#communications-submit {
    background-color: #0C2070;
    border-color: #0C2070;
    padding: 12px 75px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}

#channel-submit {
    background-color: #0C2070;
    border-color: #0C2070;
    padding: 12px 75px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}

.submit-button {
    text-align: left;
}

.com-btn {
    text-align: left;
}

.pref-btn {
    text-align: left;
}

.unsrb-btn {
    text-align: left;
}

.unsrb-all-btn {
    text-align: left;
}

.channel-submit:hover {
    color: #fff;
}

.unsubscribe-btn:hover {
    color: #fff;
}

.unsubscribe-all-btn:hover {
    color: #fff;
}

/* Styling for Channel-Preference, Unsubscribe, Unsubscribe All box */
.box-form {
    margin-top: 50px;
    /* padding: 40px 40px; */
    box-shadow: 3px 5px 14px 7px rgb(204, 204, 204, 0.63);
    border-radius: 5px;
}

/* Channel Preference section styling */
#channel-preference {
    display: none;
    padding: 0 40px 40px 40px;
}

/* Unsubscribe section styling */
#unsubscribe-reason {
    display: none;
    padding: 0 40px 40px 40px;
}

/* Unsubscribe All section styling */
#unsubscribe-all-reason {
    display: none;
    padding: 0 40px 40px 40px;
}


.submitBtn1 {
    /* text-align: right; */
    background-color: #0C2070;
    border-color: #0C2070;
    padding: 12px 60px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.orange-notice {
    background-color: #0C2070;
    color: #fff;
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 30px;
}

#area1 {
    display: none;
}

input#country-code::-webkit-calendar-picker-indicator {
    display: none !important;
}

input#country-code::-webkit-calendar-picker-indicator,
input#country-code::-webkit-list-button {
    opacity: 0 !important
}

/* checks color */
/* .interest-form .form-check-input:checked{
    background-color: #f1ad2a;
    border-color: #f1ad2a;
  } */
.form-check .form-check-input {
    margin-left: 0;
}
input[type=radio] {
    appearance: none;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: 2px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #0C2070;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: 2px;
    position: relative;
    background-color: #0C2070;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #0C2070;
}

input[type='checkbox']:checked {
    background-color: #0C2070;
    border : #0C2070;
}

input[type='checkbox']:checked:after {
    content: '\2713';
    color: white;
}

.primary-reason input[type='checkbox'] {
    display: unset !important;
}

.like-most input[type='checkbox'] {
    display: unset !important;
}

#my-profile input[type='radio']:after {
    top: -1px !important;
    right: -1px;
}

#my-profile input[type='radio']:checked:after {
    top: -1px !important;
    right: -1px;
}

.form-check-input:focus {
    box-shadow: none;
}

input[type='checkbox'] {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 15px !important;
    height: 15px !important;
    appearance: none;
    border-radius: 10%;
    border: 2px solid #0C2070;
    box-shadow: none;
    font-size: .7em;
    margin-top: 0.2rem !important;
}

/* .interest-tab-content .form-check-input, .interest-tab-content .form-check-input:checked, .preferences-tab-content .form-check-input, .preferences-tab-content .form-check-input:checked {
    border-color: rgb(242, 111, 38);
  } */

.phone_num .input-group-prepend {
    width: 130px;
}
.btn-primary {color:#fff!important}
#country-code::-webkit-calendar-picker-indicator {
    display: none !important;
}

/* dropdown icon style */
.input-arrow-icon {
    position: absolute;
    width: 25px;
    color: #000000;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.profilecountry .input-arrow-icon {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.phone-arrow-icon {
    position: absolute;
    font-size: 40px;
    color: #000000;
    right: 10px;
    top: 0%;
    cursor: pointer;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #000000 !important;
}


input#country-code::placeholder {
    opacity: .4;
}

/* ==========================================================================
     #Banner
     ========================================================================== */

.responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#mob-img {
    display: none;
}

/* ==========================================================================
     #WRAPPER
     ========================================================================== */
.wrapper {
    margin: 0 auto;
}

.wrapper--w960 {
    max-width: 960px;
}

.wrapper--w780 {
    max-width: 780px;
}

.wrapper--w680 {
    max-width: 680px;
}

.wrapper--w1200 {
    max-width: 900px;
}

.wrapper--w700 {
    max-width: 700px;
}
.wrapper--w450 {
    max-width: 450px;
}
.wrapper--inner-width {
    max-width: 357px;
}

/* ==========================================================================
     #CARD
     ========================================================================== */
.card-4 {
    text-align: center;
}

/* ==========================================================================
     #Heading
     ========================================================================== */
.main-heading {
    padding-bottom: 20px;
}

/* ==========================================================================
     Birthday calendar
     ========================================================================== */

.input-group-icon {
    position: relative;
}

.input-icon {
    position: absolute;
    width: 20px;
    color: #000000;
    right: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.input-arrow-icon1 {
    position: absolute;
    font-size: 40px;
    color: #000000;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.input-arrow-iconss {
    position: absolute;
    font-size: 40px;
    color: #000000;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
    cursor: pointer;
}

.select-wrapper {
    position: relative;
}

.select2-container {
    width: 100% !important;
}

.fa-chevron-left:before {
    display: none;
}

.fa-chevron-right:before {
    display: none;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

#pills-profile .select2-container {
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection {
    outline: none;
    box-shadow: 0px 0px 2px 2px #86b7fe !important;
    /* Adjust the box-shadow values as needed */
}
.select2-container--default .select2-selection--single {
   text-align: right; 
    background-color: transparent !important;
    padding: 5px;
    border-color: #fff !important;
    border-radius: 5px !important;
    font-size: 1rem;
    font-weight: 400;
    color: #444444;
    height: auto !important;
    min-height: 20px;
    border: 1px solid #ced4da !important;
    background: url(https://image.explore.oasisbaydubai.com/lib/fe2c117373640474721071/m/1/48eff874-3282-427e-8995-df703af489de.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 4%;
    cursor: pointer;
}

/* card css */
.content-wrapper {
    margin-top: -60px;
    background: transparent;
    border: none;
}

.box-form-wrapper {
    box-shadow: 3px 3px 14px 2px #ccc;
    border-radius: 10px;
    padding: 25px 30px;
    width: 100%;
    margin-bottom: 40px;
}

label {
    font-weight: 500;
}
.form-check-label {
    margin-bottom: 0;
}
.radio-width label {
    width: 75%;
    font-weight: 500;
}
li.nav-item {
    width: 20%;
    text-align: center;
}

/* styling for h1 username */
.banner {
    position: relative;
    text-align: center;
}
.banner-overlay-content{
    position: absolute;
    top: 70%;
    left: 50%;
    font-weight: bold;
    color: #ffffff;
    font-size: 70px;
    transform: translate(-50%, -70%);
    }
.main-banner {
    position: relative;
    }
    
    /* .main-banner:after {
    position: absolute;
    width: 100%;
    height:100%;
    bottom: 0;
    left:0;
    content: "";
    background: url(https://image.explore.oasisbaydubai.com/lib/fe23117373640474701c78/m/1/fce511d2-4dc6-4a97-888d-fb2f4a4b432c.png) center center no-repeat;
    opacity:0.4
    }     */
    .username {
        position: absolute;
        top: 47%;
        left: 75%;
        max-width: 30%;
        text-shadow: 3px 3px #AB1501;
        color: #fff;
        font-size: 45px;
        transform: translate(-47%, -24%);
        font-family: Arial, 'Times New Roman', Times, serif;
        font-weight: 500;
      }



/* kids section css */
#kidsTable td {
    width: 33%;
}
#kidsTable .row{
padding-top:20px;
}

/*dhe logo css */
.dhe-logo {
    border-radius: 10px;
    width: 30%;
}



/* footer css */
.logo-footer-wrapper {
    position: relative;
  }
  /*.logo-footer-wrapper:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    height: 90%;
    border-right: 1px solid #C89156;
  }*/
.footer-logo {
    margin-right: 100px;
}

.logo-footer img {
    /* width: 100%; */

}

/* footer new css */
footer {
    background: #000000;
    background-size: 100% auto;
    padding: 70px 0 10px 0;
    background-position: bottom;
}

footer h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.custom-height h4 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

footer p a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

footer p a:hover {
    color: #fff;
}

.footer-strip {
    background-color: #373f6d;
    padding: 20px 0;
}

.footer-strip span {
    color: #fff;
    font-size: 18px;
}

.proud-partners {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: .3rem !important;
}
.proud-partners li {
    list-style: none;
}
.tripadvisor {
    display: flex;
    padding: 0;
    margin-top: .2rem !important;
    justify-content: left;
    margin-left: 20px;
}

.footer-row-2 {
    margin-top: 1rem;
}

footer .pp {
    margin: 10px 7px 0;
}

.footer-strip p {
    color: #FCB514;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.footer-strip img {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 30px;
}
.copyright-text {
    font-size:8.4px; 
    color:#fff; 
    display: block; 
    margin-top: 20px;
}
.social-media-ul {
    justify-content: right;
    padding: 0 10px 0 0;
    display: flex;
    margin-top: .2rem !important;
    list-style:none;
}

.social-media-ul li {
    margin-right: 20px;
   list-style:none;
}

.social-media-ul img {}

.custom-height .col-12 {
    min-height: unset;
    padding: 0;
}

.business-units img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.row.business-units {
    align-items: center;
    padding-top: 10px;
}

.tripadvisor li {
    margin-right: 3px;
}

#my-profile input[type='radio']:after {
    top: 3px;
}

/* footer css end */
/* responsive css*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .nav-link {
        font-size: 14px !important;
    }
    .profile-form{
          padding: 0 30px ;
     }
}


@media (max-width: 768px) {
    .banner-logo {
        width:210px;
    }
    h1, .h1 {
        font-size: 25px;
        margin-bottom: 0;
      }
    .social-media-ul img {
        width: 30px;
    }

    .hidden {
        display: none;
    }
    .profile-form {
      padding: 0 20px ;
     }

    #desktop-img {
        display: none;
    }

    #mob-img {
        display: block;
    }

    .dhe-logo {
        width: 60%;
        margin-left: 30px;
    }

    header img {
        width: 60%;
    }

    .btn-success {
        float: none !important;
    }

    .com-btn {
        text-align: center;
    }

    .unsrb-all-btn {
        text-align: center;
    }

    .unsrb-btn {
        text-align: center;
    }
   .pref-btn {
     text-align: center;
    }

    #kidsTable td {
        width: 100%;
    }

    .radio-width label {
        width: 100%;
    }



    .wrapper--w700, .wrapper--w450 {
        padding: 0 20px;
    }

    form .text-end {
        text-align: center !important;
    }

    ul#pills-tab {
        position: sticky;
        top: 105px;
        z-index: 9999999999;
        padding-right: 0;
    }

    li.nav-item {
        width: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    }

    .nav-pills .nav-link {
        font-size: 11px !important;
    }

    /* .content-wrapper{
    margin-top: -40px;
  } */
    .submit-button {
        text-align: center;
    }

    h4 {
        font-size: 20px;
    }
    .custom-height h4 {
        text-align: right!important;
    }
    .proud-partners {
        justify-content: right;
    }
    .logo-footer img {
        width: 100%;
    }
    .username {
        font-size: 15px;
    }
    .logo-footer-wrapper:after {

        display: none;
      }
      .social-media {
        max-width: 100%!important;
      }
      .custom-height {
        max-width: 100%!important;
      }
}



/*Loader styling */

.loader1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(58, 59, 60, 0.5);
    z-index: 99999 !important;
    display: none;

}

.loaderimg1 {
    background-image: url(https://image.explore.oasisbaydubai.com/lib/fe23117373640474701c78/m/1/7fc05d76-9cb4-433e-8ca9-c85dce060d8e.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
}

/* Birthday input bdate */
 .bdate input {

    background-image: url(https://image.explore.oasisbaydubai.com/lib/fe2c117373640474721071/m/1/64a6eec1-3516-4593-9081-5d37365b14bf.png);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;

}  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    font-size: 20px;
    color: red;
} 

/* for showing disabled pointer */
#nationality:disabled {
    cursor: not-allowed;
}
#city:disabled {
    cursor: not-allowed;
}

#nationality {
    cursor: pointer;
}

/* thank you page css */
.thanYou-img img {
    max-width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thanks-wrapper {
    margin: 50px 0 50px 0;
}

.thankYou-text h2,
.thankYou-text p {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    /* New footer CSS */
    .h1, h1{
        font-size: 15px;
    }
    .banner-overlay-content {
        transform: translate(-50%, -50%);
        top:50%;
      
      }
    .banner-logo{
        width: 100px;
        bottom: 10px;
        margin-top: 0!important;
        position: relative;
      }
      .dhe-logo {
          width:104px!important;
          height: auto;
      }
    .col-12 {
        min-height: unset !important;
    }

    .footer-row-2 {
        margin-top: 0;
    }

    .tripadvisor {
        justify-content: unset;
        margin-left: 0;
        margin-top: 20px !important;
    }

    .business-units img {
        width: 100px;
        padding: 10px;
    }

    footer h4 {
        margin-top: 20px;
    }


    .social-media-ul {
        margin-top: 20px !important;
        justify-content: unset;
    }

    footer {
        padding-top: 30px;
    }

    .social-media-ul li {
        margin-left: 20!important;
        margin-right: 0!important;
    }

    .logo-footer img {
        width: 260px;
    }
    .logo-footer-wrapper {
        text-align: right!important;
    }

    .business-units img {
        width: 80%;
    }
    ul#pills-tab {
        margin-top: 2.5rem;
    }
    /* end footer css */

}

  @media (min-width: 992px) {
    .business-unit-col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}    
@media (max-width: 1200px){
        .social-media-ul li {margin-left:17px}
        a.logo-link {
            display: block;
        }
        .dhe-logo {
            margin-left: 40px;
        }
    }
@media (min-width: 768px) {
    .business-unit-col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}