.htimeline {
    list-style: none;
    padding: 10px 0 0 0;
    /* Padding left  right */
    position: relative;
    width: 100%;
    display: table;
}
.htimeline>li {
    margin-left: 0px;
    position: relative;
    display:table-cell;
    top: 0px;
    background: rgb(247, 249, 251);
    padding-bottom: 5px;
    min-height: 140px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    border-bottom: 1px solid #efefef;
    box-shadow: 0 0 0 1px #efefef inset;
}
.customer-indicator{
                color: #5bc0de;
            }
.htimeline>li:before {
    content: "  ";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #cccccc;
}

.timeline-badge {
    color: #fff;
    width: 26px;
    height: 26px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    left: 45%;
    margin-left: 0px;
    background-color: #999999;
    border: 3px solid #cccccc;
    font-family: HelveticaNeue, Arial, sans-serif;
    margin-left: 0;
    top: -12px;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.timeline-descr {
    /*margin-left: 0%;
    margin-left: 25%;*/
    margin-top: 20px;
    font-size: 1.0em;
    width: 100%;
    text-align: center;
    font-family: HelveticaNeue, Arial, sans-serif;
    font-weight: bold;
    /* font-weight added for all the groups apart from selected */
}

.timeline-badge.selected {
    /* background-color:#84754E !important;  */
    border: 3px solid #83764e !important;
    background-color: #050c57 !important;
    color: white;
}

.timeline-badge.before {
    background-color: #83764e !important; 
    border: 3px solid #83764e !important;
    /* background-color: #5bc0de !important; */
}

.timeline-descr.selected {
    font-weight: bold;
}

iframe {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    /*height: auto !important;*/
    width: 100%;
}

.stepsList {
    list-style: none;
    margin-top: 10px;
    position: relative;
    padding-left: 0px;
}

.stepsList li {
    line-height: 18px;
}

.stepsList li i.fa {
    /*position: absolute;*/
    top: 0;
    left: 0;
    margin-right: 5px;
}


.actionLink {
    color: #015ba7;
    text-decoration: none;
    font-weight: normal;
}

.stepsList li i,
.stepsList .timeline-descr {
    display: inline;
}

.stepsList li,
.stepsList li:hover,
.stepsList li a:hover {
    background: none !important;
}

td.td-timeline-icon {
    width: 7%;
}

td.td-timeline-descr {
    width: 79%;
     /*text-align: center;*/
}

.toggle {
   display: none;
 }

.li-timeline{
     background: rgb(247, 249, 251);
 }

.sla-section{
     padding: 10px;
     background: rgb(247, 249, 251);
    display: flex;
    width: 100%;
    font-weight: bold;
}

.seperator{
    padding-left: 5px;
    padding-right: 5px;
}

.default-cursor{
     cursor: default;
}

.td-timeline-help .slds-form-element{
    display: inline;
}

.tickcolor{
    --sds-c-icon-color-foreground-default:  #3CB371;
}

.txtcolor{
    color: green;
}

.clientStepColor{
    color: rgb(146, 146, 146);
}

.portal-icon-card_comment:before {
    color: rgba(255, 130, 0, 1);
}

.portal-icon-card_comment {
    position: relative;
    right: 0.3rem;
}

.slds-form-element__icon{
    padding-top: 2px !important;
}
.closeDate{
    font-size : 11px !important;
}