/* GREEN when Direct Debit exists */
.success-box {
    background-color: #e6f9ec;
    border: 2px solid #2e844a;
    color: #1e4620;
    border-radius: 6px;
}

/* RED when no Direct Debit */
.error-box {
    background-color: #fdecea;
    border: 2px solid #ba0517;
    color: #611a15;
    border-radius: 6px;
}