.slds-modal__container {
    margin: 0 auto;
    width: 100%;
    max-width: none;
    /* min-width: 20rem; */
}
.slds-modal__container {
    position: relative;
    transform: translate(0, 0);
    transition: transform var(--lwc-durationQuickly, 0.1s) linear,opacity var(--lwc-durationQuickly, 0.1s) linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    /* padding: var(--lwc-squareIconLargeBoundary, 3rem) 0 var(--lwc-squareIconLargeBoundaryAlt, 5rem) 0; */
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}