.slds-modal__container {
    width: 100% !important; /* Customize width */
    max-width: 800px; /* Optional max-width */
    margin: 0 auto;
    padding: 0;
}

.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}
.directdebitbody{
    height: 350px;
    --slds-c-modal-content-height: 350px;
}
.slds-modal__content {
    height: 350px;
    --slds-c-modal-content-height: 350px;
}