.apple-card {
    /* background: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
    padding: 0rem;
    max-width: 100%;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
}

.header h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #040405;
}
::deep .slds-table > thead > tr > th {
    height: 100px!important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: red!important;
}
::deep .slds-table {
    border: 1px solid #cccccc!important; /* SLDS light gray border */
    font-size: 0.85rem!important;
}

lightning-datatable::part(base) {
  font-size: 0.85rem!important;
}
::deep .slds-table td,
::deep .slds-table th {
    border: 1px solid #cccccc!important;
}
/* Custom row height in lightning-datatable */
::deep .slds-table tbody tr th, .slds-table tbody tr td {
    height: 60px!important; /* Set to whatever height you prefer */
}

/* Optional: vertical-align cell content */
::deep .slds-table tbody tr td {
    vertical-align: middle;
    background-color: #f9f9f9!important;
}

/* .pagination {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 1rem;
    margin-top: 1.2rem;
    font-size: 0.85rem!important;
    border:none!important;
} */
 .custom-pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    align-items: right;
    /* gap: 1rem; */
}

.page-info {
    font-size: 0.9rem;
    font-weight: 400;
    color: #333;
    padding: 11.4px;
}
.small-pagination-button {
    border:0px!important;
}

.no-records {
    text-align: center;
    font-size: 1rem;
    color: #5a5d5d;
    padding:10px;
}
.datatable-wrapper {
    width: 100%;
    overflow-x: auto;
    border:1px solid #cccccc!important;
}
.datatable-wrapper ::deep .slds-table {
  font-size: 0.75rem!important; /* Smaller font size */
  line-height: 1rem!important;  /* Tighter rows */
}

.responsive-datatable {
    min-width: 600px; /* Set based on number of columns */
}

/* .no-sort-datatable {
    --slds-c-table-header-text-overflow: initial;
    --slds-c-table-header-white-space: normal;
    --slds-c-table-header-border-color: transparent;
    --slds-c-table-cell-border-color: transparent;
    --slds-c-table-header-color: #222;
    --slds-c-table-header-font-size: 15px;
    --slds-c-table-header-font-weight: 600;
    --slds-c-table-header-line-height: 2.2rem;
} */
/* Force sort icon to always display, not just on hover */
.slds-th__action .slds-is-sortable .slds-th__action-button {
    opacity: 1 !important;
    visibility: visible !important;
}

/* Make arrow color darker for visibility */
.slds-is-sortable .slds-icon {
    opacity: 1 !important;
    fill: #0070d2 !important; /* Salesforce blue */
}